* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#palette-1-heading {
    font-family: cursive;
    text-align: center;
}

#palette-1-color-1 {
    background-color: #878787;
    color: white;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}